<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add carrier flight</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<form method="POST">
    <table>
        <h1>Add {{ type }}</h1>
        <tbody>
        <tr>
            <td>Carrier</td>
            <td><select name="id_carrier">
                {% for carrier in carriers %}
                    <option value="{{ carrier.id }}">{{ carrier.name }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td>Flight number</td>
            <td><input type="text" name="numb_flight" value=""/></td>
        </tr>
        <tr>
            <td>Flight date</td>
            <td><input type="date" name="date_f" value=""/></td>
        </tr>
        <tr>
            <td>Aircraft type</td>
            <td><select name="id_aircraft_type">
                {% for aircraft_type in aircraft_types %}
                    <option value="{{ aircraft_type.id }}">{{ aircraft_type.name }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td>Number of free seats</td>
           <td><input type="number" min="0" name="free_seats" value=""/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Add"/></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>