<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit client</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<form method="POST">
    <table>
        <h1>Edit {{ model.name }}</h1>
        <tbody>
        <tr>
            <td>Surname</td>
            <td><input type="text" name="s_name" value="{{ model.s_name }}"/></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="f_name" value="{{ model.f_name }}"/></td>
        </tr>
        <tr>
            <td>Middle name</td>
            <td><input type="text" name="t_name" value="{{ model.t_name }}"/></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="text" name="phone" value="{{ model.phone }}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Save"/></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>