<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add order</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<form method="POST">
    <table>
        <h1>Add {{ type }}</h1>
        <tbody>
        <tr>
            <td>Client</td>
            <td><select name="id_client">
                {% for client in clients %}
                    <option value="{{ client.id }}">{{ client.s_name }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td>Order date</td>
            <td><input type="date" name="date_order" value=""/></td>
        </tr>
        <tr>
            <td>Order status</td>
            <td><select name="id_order_type">
                {% for order_type in order_types %}
                    <option value="{{ order_type.id }}">{{ order_type.name }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td><input type="submit" value="Add"/></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>