<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit order</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<form method="POST">
    <table>
        <h1>Edit an order</h1>
        <tbody>
        <tr>
            <td>Id</td>
            <td>{{ model.id }}<input type="hidden" name="id" value="{{ model.id }}"/></td>
        </tr>
        <tr>
            <td>Client</td>
            <td><select name="id_client">
                {% for client in clients %}
                    <option value="{{ client.id }}" {% if client.id == model.client_model.id %}selected{% endif %}>{{ client.s_name }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td>Order date</td>
            <td><input type="date" name="date_order" value="{{ model.date_order|date:'d-m-Y' }}"/></td>
        </tr>
        <tr>
            <td>Order status</td>
            <td><select name="id_order_type">
                {% for order_type in order_types %}
                    <option value="{{ order_type.id }}" {% if order_type.id == model.id_order_type %}selected{% endif %}>{{ order_type.name }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td><input type="submit" value="Save"/></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>