<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit tour</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<form method="POST">
    <table>
        <h1>Edit {{ model.name }}</h1>
        <tbody>
        <tr>
            <td>Id</td>
            <td>{{ model.id }}<input type="hidden" name="id" value="{{ model.id }}"/></td>
        </tr>
        <tr>
            <td>Route</td>
            <td><select name="id_routes">
                {% for route in routes %}
                    <option value="{{ route.id }}" {% if route.id == model.id_routes %}selected{% endif %}>{{ route.name }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td>Client's order</td>
            <td><select name="id_client_orders">
                {% for client_order in client_orders %}
                    <option value="{{ client_order.id }}" {% if client_order.id == model.id_client_orders %}selected{% endif %}>{{ client_order.date_order }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td>Carrier flight</td>
            <td><select name="id_carrier_flights">
                {% for carrier_flight in carrier_flights %}
                    <option value="{{ carrier_flight.id }}" {% if carrier_flight.id == model.id_carrier_flights %}selected{% endif %}>{{ carrier_flight.numb_flight }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td>Seat</td>
            <td><input type="text" name="seat" value="{{ model.seat }}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Save"/></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>