<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add {{ type }}</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<form method="POST">
    <table>
        <h1>Add {{ type }}</h1>
        <tbody>
        <tr>
            <td>Surname</td>
            <td><input type="text" name="s_name" value=""/></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="f_name" value=""/></td>
        </tr>
        <tr>
            <td>Middle name</td>
            <td><input type="text" name="t_name" value=""/></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" name="address" value=""/></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="text" name="phone" value=""/></td>
        </tr>
        <tr>
            <td>Birthday</td>
            <td><input type="date" name="hb_day" value=""/></td>
        </tr>
        <tr>
            <td>Position</td>
            <td><select name="id_position">
                {% for position in positions %}
                    <option value="{{ position.id }}">{{ position.name }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td>Salary</td>
            <td><input type="number" min="0" name="salary" value=""/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Add"/></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>