<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<table>
    <h1>База данных турагентства</h1>
    <h3><a href="http://127.0.0.1:8000/countries/">Страны</a></h3>
    <h3><a href="http://127.0.0.1:8000/cities/">Города</a></h3>
    <h3><a href="http://127.0.0.1:8000/hotel_types/">Типы отелей</a></h3>
    <h3><a href="http://127.0.0.1:8000/hotels/">Отели</a></h3>
    <h3><a href="http://127.0.0.1:8000/positions/">Должности</a></h3>
    <h3><a href="http://127.0.0.1:8000/reasons_for_transfer/">Причины перевода сотрудников</a></h3>
    <h3><a href="http://127.0.0.1:8000/employees/">Сотрудники</a></h3>
    <h3><a href="http://127.0.0.1:8000/employee_motions/">Перемещения сотрудников</a></h3>
    <h3><a href="http://127.0.0.1:8000/carriers/">Перевозчики</a></h3>
    <h3><a href="http://127.0.0.1:8000/aircraft_types/">Типы самолетов</a></h3>
    <h3><a href="http://127.0.0.1:8000/carrier_flights/">Рейсы</a></h3>
    <h3><a href="http://127.0.0.1:8000/routes/">Маршруты</a></h3>
    <h3><a href="http://127.0.0.1:8000/clients/">Клиенты</a></h3>
    <h3><a href="http://127.0.0.1:8000/order_types/">Статусы заказов</a></h3>
    <h3><a href="http://127.0.0.1:8000/client_orders/">Заказы</a></h3>
    <h3><a href="http://127.0.0.1:8000/client_tours/">Туры</a></h3>
</table>
</body>
</html>